.cart{
    margin: 10px;
    border:1.5px solid rgb(0, 205, 0);
    margin-right: 20px;
}
.itemsCart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    column-gap: 100px;
}
img{
    width: 200px;
    height: 200px;
    margin-left: 40px;
}
.btn1{
    font-size: 20px;
    color: red;
    margin-left: 90px;
}
.btnFinalizar{
    border-radius: 4px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(0, 204, 0);
    font-weight: bold;
}
.btnVaciar{
    border-radius: 4px;
    margin-left: 480px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(204, 204, 0);
    font-weight: bold;
}
.btnFinalizar:hover{
    color:blue;
    background-color: rgb(0, 255, 0);
}
.btnVaciar:hover{
    color:blue;
    background-color: rgb(255, 255, 51);
}
.btnVacio{
    display:flex;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
}
.btnVacio p {
    font-weight: bold;
}
.btnVacio button{
    cursor:pointer;
    background-color: rgb(0, 204, 0);
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}
.btnVacio button:hover{
    color:blue;
    background-color: rgb(0, 255, 0);
}
.precioTotal{
    font-weight: bold;
    margin-left: 1100px;
}