ul{
    display:flex;
    align-items: center;
    
}
.Link{
    color:black;
    list-style: none;
    margin-left: 10px;
    text-decoration: none;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}
.carrito {
    
    margin-left: 200px;
}

.Link:hover{
    color:red;
    cursor:pointer;
}