.contenedorNavbar{
    background-color:black ;
    margin-top: -20px;
    padding-bottom: 15px;
    padding-top: 20px;
    
}
ul{
    display:flex;
    align-items: center;
    margin-left: 520px;
    padding-left: 10px;
    
}
.Link{
    color:white;
    list-style: none;
    margin-left: 10px;
    text-decoration: none;
}

.carrito {
    margin-left: 200px;
    cursor: pointer;
}
@media screen and (min-width:300px) and (max-width:399px){
    .contenedorNavbar{
       width: 100%; 
    }
    ul{
       margin-left: 20px;
    }
    .carrito {
        margin-left: 50px;
    }   
}
@media screen and (min-width:400px) and (max-width:500px){
    ul{
       margin-left: 40px;
    }
    .carrito {
        margin-left: 90px;
    }   
}
@media screen and (min-width:500px) and (max-width:599px){
    ul{
        margin-left: 40px;
     }
     .carrito {
         margin-left: 140px;
     }
}
@media screen and (min-width:600px) and (max-width:699px){
    ul{
        margin-left: 40px;
     }
     .carrito {
         margin-left: 140px;
     }
}
@media screen and (min-width:700px) and (max-width:799px){
    ul{
        margin-left: 40px;
     }
     .carrito {
         margin-left: 250px;
     }
}
@media screen and (min-width:800px) and (max-width:899px){
    ul{
        margin-left: 140px;
     }
     .carrito {
         margin-left: 250px;
     }
}
@media screen and (min-width:900px) and (max-width:999px){
    ul{
        margin-left: 140px;
     }
     .carrito {
         margin-left: 350px;
     }
}
@media screen and (min-width:1000px) and (max-width:1099px){
    ul{
        margin-left: 140px;
     }
     .carrito {
         margin-left: 350px;
     }
}